<div class="popup fullwidth top50 left50 abs">
    <div class="closeOverlay abs"><a href="#" class="relative">X</a></div>
    <div class="insideContent centered">
        <div class="infoComingSoon regularForm">
            <div class="title">
                <h2>Banner</h2>
            </div>
            <form method="post" action="php/ajaxDispatcher.php" id="frmAddEditBanner">
                <input type="hidden" name="aEOE_id" value="<?php echo $id;?>" />
                <input type="hidden" name="context" value="addEditBanner" />
                <?php echo $fileUploader;?>
                <div class="fRow"><input type="submit" class="mf-submit" value="Save Changes" /></div>
            </form>
        </div>
    </div>
</div>