<div class="popup has-children container left50 abs">
    <div class="closeOverlay abs"><a href="#" class="relative">X</a></div>
    <div class="insideContent centered">
        <div class="infoComingSoon regularForm">
            <div class="title">
                <h2><?php echo $rec->edate;?></h2>
            </div>
            <form method="post" action="php/ajaxDispatcher.php" id="frmAddEditSchedulerDetails">
                <input type="hidden" name="aEOE_id" value="<?php echo $id;?>" />
                <input type="hidden" name="context" value="addEditSchedulerDetails" />
                <?php echo $timeSheetTable;?>
            </form>
        </div>
    </div>
</div>