*{
    box-sizing: border-box;
}

body .page[data-page="index"]{
    background-image: url("../images/bgPolygons.jpg");
    /*background-image: none;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hidden{
    display: none;
}

.noFloat{
    clear: both;
}

.abs{
    position: absolute;
}

.abs.controls{
    right: 0;
    z-index: 50;
}

.top50{
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.left50{
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.top50.left50{
   top: 50%; 
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
   -moz-transform: translateY(-50%) translateX(-50%);
   -webkit-transform: translateY(-50%) translateX(-50%);
}

.button-round{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.navbar-fixed .page .login-screen-content{
    position: absolute;
    width: 60%;
    max-width: 300px;
    z-index: 20;
    padding: 10px 0;
}

.list-block .item-inner{
    padding: 0;
}

.list-block .item-content{
    padding: 0;
}

.navbar-fixed .page .login-screen-content .item-input{
    background-color: rgba(255,255,255, 0.7);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px 10px;
    box-shadow: inset  1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset  1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset  1px 1px 2px rgba(0, 0, 0, 0.2);
}

.navbar-fixed .page .login-screen-content .item-input input[type="password"]{
    height: auto;
    color: #000;
    padding: 0.2em;
}

.item-input-field::after, .input-field::after{
    display: none;
}

.navbar-fixed .page .login-screen-content.page-content {
    height: auto;
    
}

.login-screen-content{
    background-color: transparent;
}

.login-screen-content .login-screen-title, .login-screen-content .list-block, .login-screen-content .content-block, .login-screen-content .list-block-label{
    margin: 0;
    max-width: 1024px;
    color: #fff;
}

.login-screen-title{
    color: #fff;
    padding: 0.3em 0.6em;
    width: auto;
    margin: 1em auto;
    font-weight: 100;
    font-size: 2.7em;
    text-align: center;
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    text-shadow: 0 0 1px rgba(0,0,0, 0.5);
    -moz-text-shadow: 0 0 1px rgba(0,0,0, 0.5);
    -webkit-text-shadow: 0 0 1px rgba(0,0,0, 0.5);
}

.navbar{
    height: 51px;
}

.navbar, .navbar .center, .subnavbar .center{
    font-size: 1em;
}

.navbar-inner, .toolbar-inner{
    background: #4caf50;
}

.stock-mode .navbar-inner, .stock-mode .toolbar-inner{
    background: #ff5722;
}

.navbar-inner .right a.link{
    border-left: solid 1px #fff;
}

.page.minus-mode .navbar-inner, .page.minus-mode .toolbar-inner{
    background: #e91e63;
}

.list-block .item-content{
    padding: 0 1em;
}

.list-block .input-item .item-media, .list-block.inputs-list .item-media{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
    color: #000;
    min-width: inherit;
}

.list-block input[type="text"], .list-block input[type="password"], .list-block input[type="search"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block select, .list-block textarea{
    font-size: 14px;
}

.list-block .input-item .item-media > img{
    width: 100%;
    height: auto;
}

.list-block .input-item .label, .list-block.inputs-list .label, .list-block .input-item .floating-label, .list-block.inputs-list .floating-label{
    font-size: 1em;
    line-height: 120%;
}

.list-block .item-input{
    margin: 0;
}

.page[data-page="products"] .list-block .item-content .item-inner .item-input, .page[data-page="products"] .list-block .item-content .item-inner .submit-input, .page[data-page="products"] .list-block .item-content .item-inner .qty-input, .page[data-page="products"] .list-block .item-content .item-inner .qty-current{
    z-index: 40;
    border: solid 1px #ccc;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.page[data-page="products"] .list-block .item-content .item-inner .item-input{
    width: 50px;
}

.page[data-page="products"] .list-block .item-content .item-inner .qty-input{
    border: none;
    border: 0;
    color: #ff5722;
    font-weight: 400;
    font-size: 1em;
    width: 60px;
    text-align: right;
}

.page[data-page="products"] .list-block .item-content .item-inner .qty-current{
    border: none;
    border: 0;
    color: #8bc34a;
    font-weight: 400;
    font-size: 1em;
    width: 60px;
    text-align: right;
}

.page[data-page="products"] .list-block .item-content .item-inner .submit-input{
    width: auto;
    border: none;
    border: 0;
    margin: 0 10px;
    transition: opacity 0.2s ease-out 0s;
    -moz-transition: opacity 0.2s ease-out 0s;
    -webkit-transition: opacity 0.2s ease-out 0s;
}

.page[data-page="products"] .list-block .item-content .item-inner .submit-input.hidden{
    opacity: 0;
}

.page[data-page="products"] .list-block .item-content .item-inner .submit-input .button{
    height: 38px;
    line-height: 100%;
    min-width: 38px;
    font-size: 1em;
}

.list-block .input-item .item-inner, .list-block.inputs-list .item-inner{
    margin-bottom: 0;
}

.page.minus-mode[data-page="products"] .list-block .item-content .item-inner .item-input{
    border-color: #e91e63;
}

.page[data-page="products"] .list-block .item-content .item-inner .item-input input[type="text"]{
    text-align: center;
    color: #212121;
}

.page[data-page="products"] .list-block .item-content .item-inner .item-input input[type="text"]:invalid{
    background-color: #d00;
    color: #fff;
}

.page[data-page="products"] .list-block .label, .list-block .floating-label{
    color: #212121;
}

.page[data-page="products"] .list-block .label > span.text-muted{
    color: #999;
}

.page[data-page="products"] .list-block li{
    margin: 1px 0;
    border-bottom: solid 1px #ddd;
}

.page[data-page="products"] .list-block li div.item-content{
    color: #fff;
    padding: 5px 1em;
}

div.errMessage1{
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
}

body > div.errMessage1{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}

div.errMessage1 .closeOverlay.abs{
    top: 0;
    left: auto;
    right: 5px;
    display: none;
}

div.errMessage1 .closeOverlay.abs a.relative{
    color: #fff;
    font-size: 18px;
}

.errContent, div.errMessage1 .infoContent{
    display: block;
    position: relative;
    background-color: #FFFFCC;
    border: 1px solid #AA0000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    color: #404040;
    font-size: 1.2em;
    padding: 17px;
    font-weight: 400;
}

.infoMessage .errContent{
    color: #0098DA;
    background-color: #e6e7e8;
    border: none;
    border: 0;
}

div.errMessage1 .infoContent{
    background-color: #58be3d;
    color: #fff;
    border: 1px solid #44912f;
}

.errContent div.closeBtn{
    top: 10px;
    right: 10px;
}

.bottom-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #f2f2f2;
    margin: 0;
    padding: 1em;
    border-top: solid 1px #ccc;
}

#frmProductOrders{
    height: 100%;
}

.page-content{
    height: 100vh;
}

.navbar-fixed [data-page="products"] .page-content{
    padding-top: 0;
}

.navbar-fixed [data-page="products"] .page-content .list-block{
    margin-bottom: 128px;
}

.navbar-inner{
    font-size: 1.2em;
}

.content-block-title > .right{
    float: right;
}

.content-block-title > .right > .item-inner{
    height: 46px;
}

.label-switch input[type="checkbox"]:checked + .checkbox::after {
    background: #fff none repeat scroll 0 0;
    transform: translateX(25px);
}

.label-switch input[type=checkbox]:checked+.checkbox {
    background: #e91e63;
}

.label-switch .checkbox, .label-switch{
    width: 50px;
    height: 26px;
}

.label-switch .checkbox::after{
    top: 0;
    border: solid 2px #e91e63;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.modal{
    width: 360px;
    margin-left: -180px;
    top: 100px;
}

.modal-title {
    text-align: center;
    margin-bottom: 1em;
}

input.mf-input{
    width: 100%;
}

.picker-calendar-day, .picker-calendar-week-days, .toolbar{
    font-size: 1em;
}

.picker-calendar.picker-modal-inline{
    height: 360px;
}

.picker-calendar-row{
    height: calc(100% / 3);
}

.picker-modal .picker-header + .picker-footer + .toolbar + .picker-modal-inner {
    height: calc(100% - 48px * 3);
}

.picker-modal .picker-header, .picker-calendar-day.picker-calendar-day-selected span{
    background: #ff5722;
}

a.button.close-picker{
    background: #4caf50;
    color: #fff;
}

#frmLoginFEUser .item-input-field i.f7-icons{
    display: inline-block;
    margin-right: 5px;
    color: #999;
}

#frmLoginFEUser .item-input-field input[type="password"]{
    display: inline-block;
    width: 80%;
}

#frmLoginFEUser input.button[type="button"], #frmLoginFEUser input.button[type="submit"]{
    border: solid 1px #fff;
}


/*
//// Responsive ///
*/

@media only screen and (min-width : 480px) {
    .list-block .input-item .item-media, .list-block.inputs-list .item-media{
        font-size: 28px;
    }
    
    .list-block .input-item .label, .list-block.inputs-list .label, .list-block .input-item .floating-label, .list-block.inputs-list .floating-label{
    font-size: 16px;
    }
    
    .page[data-page="products"] .list-block .item-content .item-inner .qty-input{
        font-size: 22px;
        width: 100px;
    }
    
    .page[data-page="products"] .list-block .item-content .item-inner .qty-current{
        font-size: 22px;
        width: 100px;
    }
    
    .list-block input[type="text"], .list-block input[type="password"], .list-block input[type="search"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block select, .list-block textarea{
        font-size: 16px;
    }
}

@media only screen and (min-width : 600px) {
    .list-block .input-item .item-media, .list-block.inputs-list .item-media{
        font-size: 36px;
    }
    
    .list-block .input-item .label, .list-block.inputs-list .label, .list-block .input-item .floating-label, .list-block.inputs-list .floating-label{
    font-size: 18px;
    }
    
    .page[data-page="products"] .list-block .item-content .item-inner .qty-input{
        font-size: 28px;
        width: 150px;
    }
    
    .page[data-page="products"] .list-block .item-content .item-inner .qty-current{
        font-size: 28px;
        width: 150px;
    }
    
    .list-block input[type="text"], .list-block input[type="password"], .list-block input[type="search"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block select, .list-block textarea{
        font-size: 20px;
    }
    
    .list-block input[type="password"]{
        font-size: 16px;
    }
}